{
	"presets": [
		[
			"@babel/preset-react",
			{
				"runtime": "automatic", // defaults to classic
				"importSource": "simple-react" // defaults to react (only in automatic runtime)
			}
		]
	]
}
